
<div class="col-lg-12"><h1><%=title%></h1></div>
<%- include('../partials/pagination.ejs', {page: 'topics'}); %>

<% let count = topics.length; %>
<% topics.forEach(function(topic){ %>

       <a style="width:inherit !important;" href="/topic/<%= topic.topic.toLowerCase() %>"><%= topic.topic %></a>

<% }) %>

    <%- include('../partials/pagination.ejs', {page: 'topics'}); %>