<div class="col-lg-3 col-md-6 mb-4">
    <div class="card h-100">
        <div class="card-body">
            <h4 class="card-title"><%= keyword.keyword %></h4>            
        </div>
    </div>
</div>
<div class="col-lg-9 col-md-6 mb-4">
    <%- include('../partials/pagination.ejs', {page: 'keywords/single/' + keyword._id}); %>
    <div class="row text-center">
    <% keyword.quotes.forEach(function(quote){ %>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">    
                <div class="card-body">
                    <p class="card-text">"<%=quote.quote%>"</p>                    
                </div> 
                <div class="card-footer">
                <a href="/quotes/related/<%= quote._id %>" class="btn btn-primary">View Similar</a>
            </div>       
            </div>
            
        </div>
        <% }) %>    
    </div>
    <%- include('../partials/pagination.ejs', {page: 'keywords/single/' + keyword._id}); %>
</div>