
<div class="col-lg-12"><h1><%=title%></h1></div>
<%- include('../partials/pagination.ejs', {page: 'quotes/related/' + quoteId}); %>
<% quotes.forEach(function(quote){ 
  
  // If quote doesn't have an author, just ignore it.
  if(quote.authorId == null) return;
  
  %>
    <div class="col-lg-12 col-md-12 mb-12">
        <div class="card h-100">       
          <div class="card-body"> 
            <p class="card-text"><a href="/author/<%= quote.authorId.slug %>"><h3><%= quote.authorId.firstName + " " + quote.authorId.lastName %></h3></a></p>         
            <p class="card-text"><%= quote.quote %></p>
            <div class="addthis_toolbox" addthis:url="http://greatthoughtstreasury.com/quotes/single/<%= quote._id %>">
              <%- include('../partials/addthis.ejs'); %>

            </div>
            <p class="card-text"><% quote.topics.forEach(function(topic) { %><a href="/topic/<%= topic.topic.toLowerCase().replace(' ', '-'); %>"><%=topic.topic%></a> | <% });%></p>
          </div>
          <div class="card-footer">
            <a href="/author/<%= quote.authorId.slug %>" class="btn btn-primary">View Author</a>
          </div>
        </div>
      </div> 
    <% }) %>
    <%- include('../partials/pagination.ejs', {page: 'quotes/related/' + quoteId }); %>